::-webkit-scrollbar{
  width: 0;
  height: 0;
}
/* Reset some default styles for better consistency */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
body {
    overflow-y: scroll;
    font-family: 'Amatic SC', sans-serif;
    /* color: #131212; */
    background:linear-gradient(to left,rgb(0, 0, 0),rgba(0, 0, 0, 0.795),rgba(0, 0, 0, 0.795),rgb(0, 0, 0));
    line-height: 1.6;
}

/* Style the header */
header {
  /* position: fixed;
  width: 1496px;
  top: 0px;
  padding: 1em; */
    background:linear-gradient(to right, #000000,#1b1919,#000000) ;
    color: #fff;
    padding: 4.5px 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    /* background-color: #333; */
    /* color: #fff; */
    text-align: center;
    /* z-index: 1; */
    padding: 20px;
}

/* Style the h1 tag in the header */
header h1 {
    font-size: 36px;
}

.header-menu {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    /* background-color: #333; Background color for the header menu */
    display: flex; /* Make the menu items horizontal */
    justify-self: center;
    justify-content: center;
}

.header-menu li {
    margin: 15px ; /* Add spacing between menu items */
    padding-top: 10px;
    
}

.header-menu a {
    font-weight: bold;
    text-decoration: none; /* Remove underline from links */
    color: white; /* Text color for links */
}

/* Style for the link when hovered */
.header-menu a:hover {
   color: orange;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh; /* Ensures the form doesn't exceed the screen width */
  height: 80vh;
  margin: 0 auto; /* Centers the form on the screen */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  padding: 20px; /* Adjust the padding as needed */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .form {
    padding: 10px; /* Adjust the padding for smaller screens */
  }
}


@media screen and (max-width: 768px) {
    /* Styles for screens with a width of 768px or less (e.g., mobile devices) */
  }
  @media screen and (min-width: 769px) {
    /* Styles for screens with a width of 769px or more (e.g., tablets and desktops) */
  }
  
  footer {
    background: linear-gradient(to right, #000000, #0b0b0ba0, #000000);
    color: #fff;
    padding: 10px 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute; /* Fixed position to keep it at the bottom */
    bottom: 0;
    width: 100%;
  }
  
  
  /* Style the copyright text in the footer */
  footer p {
      font-size: 14px;
  }
